<!DOCTYPE html>
<html>
<head>
    <title>USC Marketplace</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

	<header>
		<div class="header">USC Marketplace</div>
	</header>

	<main>
		<div class="page-container">
			<div class="image-container">
				<img src="images/usc-logo.png" alt="USC">
			</div>
		
			<div class="form-section">
				<div class="form-box">
					<h1 class="title">Log In</h1>
					<form id="login-form" onsubmit="login(event)">
						<div class="input-valid">
							<input type="text" id="email" name="email" placeholder="Email" required onblur="validateEmail()" oninput="buttonOpacityLog()">
							<img class="invalid-input-img" id="errorIcon1" src="images/input_warning.png">
						</div>
						<div id="emailMsg" class="error-msg" style="color: red; margin: 0px; margin-bottom: 5px;"></div>
						
						<div class="input-valid">
							<input type="password" id="password" name="password" placeholder="Password" required onblur="validatePassword()" oninput="buttonOpacityLog()">
							<img class="invalid-input-img" id="errorIcon2" src="images/input_warning.png">
						</div>
						<div id="passwordMsg" class="error-msg" style="color: red; margin: 0px;"></div>
						
						<button id="login-btn" type="submit" disabled>Sign In</button>
					</form>
				
					<div class="divider">
						<div class="line"></div>
						<span>OR</span>
						<div class="line"></div>
					</div>
					
					<button class="guest-button" type="button" onclick="guestLogin(event)">Browse as Guest</button>
				</div>
				
				<div class="form-box signup-box">
					<p>Don't have an account? <a href="/register">Sign Up</a></p>
				</div>
			</div>
		</div>
	</main>
	
	<script src="js/loginreg.js"></script>
</body>
</html>