<!DOCTYPE html>
<html>
<head>
    <title>USC Marketplace</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

	<header>
		<div class="header">USC Marketplace</div>
	</header>

	<main>
		<div class="page-container">
			<div class="form-section">
				<div class="form-box">
					<h1 class="title title-register">Register</h1>
					<form id="login-form">
						<div class="input-valid">
							<input type="text" id="fname" name="fname" placeholder="First Name" required onblur="validateName()" oninput="buttonOpacityReg()">
							<img class="invalid-input-img" id="errorIcon3" src="images/input_warning.png">
						</div>
						<div id="fnameMsg" class="error-msg" style="color: red; margin: 0px; margin-bottom: 5px;"></div>
						
						<div class="input-valid">
							<input type="text" id="lname" name="lname" placeholder="Last Name" required onblur="validateName()" oninput="buttonOpacityReg()">
							<img class="invalid-input-img" id="errorIcon4" src="images/input_warning.png">
						</div>
						<div id="lnameMsg" class="error-msg" style="color: red; margin: 0px; margin-bottom: 5px;"></div>
						
						<div class="input-valid">
							<input type="text" id="email" name="email" placeholder="Email" required onblur="validateEmail()" oninput="buttonOpacityReg()">
							<img class="invalid-input-img" id="errorIcon1" src="images/input_warning.png">
						</div>
						<div id="emailMsg" class="error-msg" style="color: red; margin: 0px; margin-bottom: 5px;"></div>
						
						<div class="input-valid">
							<input type="password" id="password" name="password" placeholder="Password" required onblur="validatePassword()" oninput="buttonOpacityReg()">
							<img class="invalid-input-img" id="errorIcon2" src="images/input_warning.png">
						</div>
						<div id="passwordMsg" class="error-msg" style="color: red; margin: 0px;"></div>
						
			            <label for="type">Account Type: </label>
			            <select name="type" id="type">
			            	<option value="buyer">Buyer</option>
			            	<option value="seller">Seller</option>
			            </select>
			            
						<button id="register-btn" type="button" disabled onclick="register(event)">Create Account</button>
					</form>
				
					<div class="divider">
						<div class="line"></div>
						<span>OR</span>
						<div class="line"></div>
					</div>
					
					<button class="guest-button" type="button" onclick="guestLogin(event)">Browse as Guest</button>
				</div>
				
				<div class="form-box signup-box">
					<p>Already have an account? <a href="/login">Log In</a></p>
				</div>
			</div>
		</div>
	</main>
	
	<script src="js/loginreg.js"></script>
</body>
</html>